<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ibook.www.mapper.ClassifyMapper" >

  <resultMap id="BaseResultMap" type="com.ibook.www.model.Classify" >
    <id column="id" property="id"/>
    <result column="channel_id" property="channelId"/>
    <result column="name" property="name"/>
    <result column="href" property="href"/>
  </resultMap>

  <sql id="Base_Column_List" >
    id, name, href
  </sql>

  <insert id="insert" parameterType="com.ibook.www.model.Classify" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into n_classify(id,channel_id,name,href)
    values (#{id},#{channelId},#{name},#{href})
  </insert>
</mapper>